{{#each events}}

    <style type="text/css">

        .progress-bar {
            transform: translate3d(0, 0, 0);
            animation: scaleUp 2s ease both;
        }

        @keyframes scaleDown {
            to {
                opacity: 0;
                transform: scale(.8);
            }
        }

        @keyframes scaleUp {
            from {
                opacity: 0;
                transform: scale(.8);
            }
        }

    </style>



    <div class="list-group">

        <button type="button" class="list-group-item">

            <div class="media">

                <div class="media-left media-middle">
                    <a href="#">
                        <img alt="{{sportName}}" width="25" src="/img/{{sportAlias}}.png" />
                    </a>
                </div>
                <div class="media-body">
                    {{sportName}} - {{tournament}} <span style="color:lightgray">(id={{id}})</span>
                    <h4 class="media-heading">{{match}}</h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped"
                             role="progressbar" aria-valuenow="{{bets_value}}" aria-valuemin="0" aria-valuemax="100"
                             style="width: {{bets_value}}%">
                            <span>{{bets}} bets</span>
                        </div>
                    </div>
                </div>

            </div>

        </button>

    </div>

    {{!--<div class="list-group">--}}
        {{!--<a href="#" class="list-group-item list-group-item-warning">--}}
            {{!--<span class="badge">{{bets}}</span>--}}
            {{!--{{match}}--}}
        {{!--</a>--}}
    {{!--</div>--}}

{{/each}}

