<div>  
    <ul class="nav nav-tabs" role="tablist" id="tabs"> 
        {{#each data.tabs}} 
            <li role="presentation" {{!--class="active"--}}><a href="#{{id}}" aria-controls="{{id}}" role="tab" data-toggle="tab">{{title}}</a></li>
        {{/each}} 
    </ul>
      
    <div class="tab-content"> 
        {{#each data.tabs}} 
            <div role="tabpanel" class="tab-pane {{!--active--}}" id="{{id}}">{{title}}</div>
        {{/each}} 
    </div>

    <script type="text/javascript">
        $('#tabs li').each(function(index) {
            $(this).on('click', function (e) {

            })
        });
    </script>
</div>