<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {{#each data.sports}}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading{{alias}}">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#collapse{{alias}}" aria-expanded="false" aria-controls="collapse{{alias}}">
                        <div>{{name}}</div>
                    </a>
                </h4>
            </div>
            <div id="collapse{{alias}}" class="panel-collapse collapse" role="tabpanel"
                 aria-labelledby="heading{{alias}}">
                <div class="panel-body">
                    {{#each events}}
                        <div>{{tournament}}</div>
                        <div>{{match}}</div>
                    {{/each}}
                </div>
            </div>
        </div>
    {{/each}}
</div>

<script type="text/javascript">
    $(function() {
        console.log(1);
    });
</script>