<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {{#each sports}}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading{{alias}}">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#collapse{{alias}}" aria-expanded="false" aria-controls="collapse{{alias}}"
                       data-sport-alias="{{alias}}" data-tab-id="{{tab_id}}">
                        <div><img alt="{{name}}" width="25" src="/img/{{alias}}.png"/> {{name}}</div>
                    </a>
                </h4>
                <span class="eventCnt btn-primary label label-primary">{{events.length}}</span>
            </div>
            <div id="collapse{{alias}}" class="panel-collapse collapse {{#if selected}}in{{/if}}" role="tabpanel"
                 aria-labelledby="heading{{alias}}">
                <div class="panel-body">
                    {{> events}}
                </div>
            </div>
        </div>
    {{/each}}
</div>
<script type="text/javascript">
    $(function () {
        $('#accordion').on('show.bs.collapse', function (e) {
            var clickedElement = $(e.target).siblings('.panel-heading').find('a');
            var sportAlias = $(clickedElement).data('sport-alias');
            var tabId = $(clickedElement).data('tab-id');
            setTimeout(function () {
                getContent(tabId, sportAlias);
            }, 250);
        });
    });
</script>